 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #000430;
     color: #fff;
 }

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 120px auto 0;
     max-width: 500px;
     width: 100%;
     padding: 20px;
 }

 .stats-container {
     padding: 30px;
     border-radius: 20px;
     border: 2px solid #828dff;
     display: flex;
     justify-content: space-between;
     gap: 50px;
     width: 100%;
     padding: 20px;
 }

 .details {
     width: 100%;
 }

 #progressBar {
     width: 100%;
     height: 10px;
     background-color: #171c48;
     border-radius: 5px;
     margin-top: 20px;
     padding: 5px;
 }

 #progress {
     height: 10px;
     background-color: #24feee;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 #numbers {
     width: 100px;
     height: 100px;
     background-color: #828dff;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     font-size: 30px;
     font-weight: bold;
     padding: 10px;
 }

 form {
     margin-top: 60px;
     width: 100%;
     display: flex;
     padding: 10px;
 }

 input {
     flex: 1;
     padding: 16px;
     background-color: #171c48;
     border: 1px solid #828dff;
     border-radius: 10px;
     outline: none;
     color: #fff;
 }

 button {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #828dff;
     color: #24feee;
     font-size: 30px;
     font-weight: bold;
     outline: none;
     margin-left: 10px;
     padding: 10px;
 }

 .task-list {
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px;
     width: 100%;
     list-style: none;
     padding: 10px;
 }

 .taskItem {
     display: flex;
     background-color: #171c48;
     padding: 10px;
     border-radius: 10px;
     justify-content: space-between;
     width: auto;
     align-items: center;
     margin-bottom: 10px;
 }

 .task {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .task input {
     width: 20px;
     height: 20px;
     margin: 0 10px;
     cursor: pointer;
 }

 .task.completed {
     text-decoration: line-through;
     color: #24feee;
 }

 .taskItem img {
     width: 24px;
     height: 24px;
     margin-left: 10px;
 }